In [1]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from pathlib import Path
import csv
import seaborn as sns
import numpy as np 

%matplotlib inline

In [2]:
C04_C06_path = Path('/Users/ameerirfan/Desktop/TO_MLS.csv')
C04_C06_df = pd.read_csv(C04_C06_path)

C04_C06_df.head()

,Location,CompIndex,CompBenchmark,CompYoYChange,SFDetachIndex,SFDetachBenchmark,SFDetachYoYChange,SFAttachIndex,SFAttachBenchmark,SFAttachYoYChange,THouseIndex,THouseBenchmark,THouseYoYChange,ApartIndex,ApartBenchmark,ApartYoYChange,Date
0,Adjala-Tosorontio,143.7,510000.0,12.00,143.7,510000.0,12.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-07-01
1,Adjala-Tosorontio,140.8,499700.0,13.82,140.8,499700.0,13.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-01
2,Adjala-Tosorontio,142.7,506400.0,15.83,142.7,506400.0,15.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-01
3,Adjala-Tosorontio,138.4,491100.0,11.08,138.4,491100.0,11.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-01
4,Adjala-Tosorontio,145.4,516000.0,16.51,145.4,516000.0,16.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-01

In [3]:
C04_C06_df = C04_C06_df.drop(["CompIndex","SFDetachIndex","SFAttachIndex","ApartIndex", "SFAttachBenchmark","SFAttachYoYChange", "THouseIndex", "THouseBenchmark", "THouseYoYChange"], axis=1)
C04_C06_df.head()

,Location,CompBenchmark,CompYoYChange,SFDetachBenchmark,SFDetachYoYChange,ApartBenchmark,ApartYoYChange,Date
0,Adjala-Tosorontio,510000.0,12.00,510000.0,12.00,NaN,NaN,2015-07-01
1,Adjala-Tosorontio,499700.0,13.82,499700.0,13.82,NaN,NaN,2015-08-01
2,Adjala-Tosorontio,506400.0,15.83,506400.0,15.83,NaN,NaN,2015-09-01
3,Adjala-Tosorontio,491100.0,11.08,491100.0,11.08,NaN,NaN,2015-10-01
4,Adjala-Tosorontio,516000.0,16.51,516000.0,16.51,NaN,NaN,2015-11-01

In [4]:
C04_C06_df = C04_C06_df.iloc[2346:3312]

C04_C06_df

,Location,CompBenchmark,CompYoYChange,SFDetachBenchmark,SFDetachYoYChange,ApartBenchmark,ApartYoYChange,Date
2346,Toronto C01,478800.0,2.99,679500.0,-3.51,395600.0,3.32,2015-07-01
2347,Toronto C01,486000.0,4.92,702800.0,-0.70,402100.0,5.63,2015-08-01
2348,Toronto C01,488200.0,7.12,687600.0,-1.02,405200.0,8.29,2015-09-01
2349,Toronto C01,484500.0,5.22,696100.0,1.49,399400.0,5.38,2015-10-01
2350,Toronto C01,483000.0,4.22,706700.0,0.00,396200.0,4.39,2015-11-01
...,...,...,...,...,...,...,...,...
3307,Toronto C15,864800.0,6.99,1395400.0,2.20,585000.0,7.29,2020-11-01
3308,Toronto C15,868400.0,5.69,1413300.0,4.15,583600.0,4.11,2020-12-01
3309,Toronto C15,881100.0,5.89,1458800.0,9.67,587400.0,2.35,2021-01-01
3310,Toronto C15,904400.0,6.33,1508100.0,12.23,603600.0,1.96,2021-02-01
3311,Toronto C15,929700.0,6.66,1551800.0,13.46,620400.0,2.03,2021-03-01

In [5]:
C04_C06_df.set_index('Date', inplace=True)
C04_C06_df

,Location,CompBenchmark,CompYoYChange,SFDetachBenchmark,SFDetachYoYChange,ApartBenchmark,ApartYoYChange
Date,,,,,,,
2015-07-01,Toronto C01,478800.0,2.99,679500.0,-3.51,395600.0,3.32
2015-08-01,Toronto C01,486000.0,4.92,702800.0,-0.70,402100.0,5.63
2015-09-01,Toronto C01,488200.0,7.12,687600.0,-1.02,405200.0,8.29
2015-10-01,Toronto C01,484500.0,5.22,696100.0,1.49,399400.0,5.38
2015-11-01,Toronto C01,483000.0,4.22,706700.0,0.00,396200.0,4.39
...,...,...,...,...,...,...,...
2020-11-01,Toronto C15,864800.0,6.99,1395400.0,2.20,585000.0,7.29
2020-12-01,Toronto C15,868400.0,5.69,1413300.0,4.15,583600.0,4.11
2021-01-01,Toronto C15,881100.0,5.89,1458800.0,9.67,587400.0,2.35
2021-02-01,Toronto C15,904400.0,6.33,1508100.0,12.23,603600.0,1.96
2021-03-01,Toronto C15,929700.0,6.66,1551800.0,13.46,620400.0,2.03